.container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 600px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat feat"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.features{
    border: 1px solid black;
    background: gray;
}

.header{
    grid-area: hd;
}

.feat{
    grid-area: feat;
    height: 50vh;
    background-image: url(images/image3.jpg);
    background-size: contain;
}

.content{
    grid-area: main;

}

.footer{
    grid-area: ft;
}

.image{
    width: 100%;
    object-fit: contain;
}


.styles1{
    text-align: center;
}

.styles2{
    font-size: 1.5em;
}

.container2{
    display: inline-flex;
    position: relative;
    left: 3%;
}

#centerlist{
    position: relative;
    left: 20%;
}


@media(min-width: 900px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px 600px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "feat feat feat feat feat feat feat feat"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }

    .container2{
        display: inline-flex;
        position: relative;
        left: 35%;
    }
    
    #centerlist{
        position: relative;
        left: 45%;
    }

    
}

